:root{
font-family: 'El Messiri', sans-serif;
}
.contacts {
    background-color: #23214b;
    color:#fff;
}
.logo{
    background-color: #f5f5f5;
}
.menu{
    background-color: #f5f5f5;
}
.head-img{
    background-image: url(../img/font-image.jpeg);
    color:#f5f5f5;
}
.head-img h1{
    color:#ffffff;
}
.head-img h3{
    color:#5f6b7c;
}
.register-to-service{
    color:#ffffff;
    background-color: red;
}
.about-us{
    color:red;
}

img {
    width: 200px;
}
